<div class="kg-card kg-signup-card kg-width-wide" data-lexical-signup-form="" style="">
  <div class="kg-signup-card-content">
    <div class="kg-signup-card-text">
      <h2 class="kg-signup-card-heading" style="">
        <span>{{#if heading}}{{heading}}{{else}}Spodobał Ci się artykuł?{{/if}}</span>
      </h2>
      <div class="kg-signup-card-subheading" style="">
        <span>{{#if subheading}}{{subheading}}{{else}}Zapisz się do newslettera i otrzymuj co miesiąc przegląd najważniejszych tematów i zmian prawnych z minionego miesiąca.{{/if}}</span>
      </div>

      <form class="kg-signup-card-form" data-members-form="signup">
        <div class="kg-signup-card-fields">
          <input
            class="kg-signup-card-input"
            id="email"
            data-members-email=""
            type="email"
            required="true"
            placeholder="Twój email"
          />
          <button
            class="kg-signup-card-button kg-style-accent"
            style=""
            type="submit"
            id="signup-submit"
          >
            <span class="kg-signup-card-button-default">Zapisz się</span>
            <span class="kg-signup-card-button-loading"><!-- SVG loading icon --></span>
          </button>
        </div>

        <div class="kg-signup-card-checkbox">
          <input
            type="checkbox"
            id="signup-consent"
            class="kg-signup-card-checkbox-input"
            required="true"
          />
          <label for="signup-consent" class="kg-signup-card-checkbox-label">
              Zapisując się do newslettera, akceptujesz <a href="/regulamin-newslettera/" target="_blank">Regulamin Newslettera</a> oraz zgadzasz na otrzymywanie treści edukacyjnych oraz informacji handlowych o produktach, usługach i innych inicjatywach związanych z działalnością strony: www.complyit.pl. Więcej informacji na temat przetwarzania danych osobowych znajdziesz w <a href="/polityka-prywatnosci/" target="_blank">Polityce Prywatności</a>
          </label>
        </div>

        <div class="kg-signup-card-success" style="">
            Email wysłany! Sprawdź swoją skrzynkę pocztową, aby zakończyć rejestrację.
        </div>
        <div
          class="kg-signup-card-error"
          style=""
          data-members-error=""
        >
        </div>
      </form>
    </div>
  </div>
</div>
